.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

#container * {
  overflow-anchor: none;
}

#container {
  display: flex;
  flex-direction: column-reverse;
  max-height: 100vh;
  overflow: auto;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; */
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}