
.node {
    @apply text-gray-500 bg-white rounded-2xl py-2 px-4 box-border shadow-md;
    @apply font-mono;
    @apply max-w-md;
    @apply whitespace-pre-wrap;
}

.done {
    @apply text-gray-500 bg-gray-200;
}

.active {
}

.node.selected {
    @apply text-pink-500;
}


.project {
    @apply py-16;
}
.goal {
    @apply py-8;
}
.task {
}

.edge path {
    /* stroke-opacity: 0.2; */
    stroke-width: 1px;
}

.handle {
    @apply w-2 h-2;
    @apply rounded-full;
    @apply bg-gray-300;
    @apply border-none;
}

@media (prefers-color-scheme: dark) {
    .edge path {
        stroke: #fff;
    }

    .controls {
        filter: invert();
    }
}
